{% extends 'base.html' %}

{% block title %}
О сервисе - AniZona
{% endblock %}

{% block content %}
    <div class="content_about">
        <h1 class="about_header">О сервисе</h1>
        <p class="about_body">
            Данный сервис был реализован в качестве пробного проекта на базе фреймворка Django.
            <br>
            Дата релиза: 19 июня 2020 г.
            <br>
            Основная информация, заключенная на страницах сайта, связана в первую очередь с индустрией японской анимации, 
            названной - "аниме". Мы искренне надеемся, что вам с нами уютно и комфортно! 
        </p>
    </div>
{% endblock %}