
main {
  margin-top: 60px;
}

/* Reset-css */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;

  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
  padding-left: 34px;
  border-bottom: 1px solid #D4D4D4;
}

.logo-img {
  color: #5671f6;
  font-weight: 700;
  font-size: 30px;
}

.line {
  height: 100%;
  width: 1px;
  background-color: #d4d4d4;
  margin-left: 34px;
}

.search-input {
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 38px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  margin-left: 34px;
}

.navigation {
  margin: 0 44px 0 auto;
}
.navigation-link {
  text-decoration: none;
  font-style: 18px;
  line-height: 21px;
  color: #363636;
  margin-right: 18px;
}

.button-group {
  height: 100%;
}

.button {
  height: 100%;
}

.sign-up {
  color: #5671f6;
  font-size: 18px;
  border: none;
  background-color: #fff;
  padding: 0 34px;
  border-left: 1px solid #D4D4D4;

}

.login {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  background-color: #5671f6;
  border: none;
  height: 100%;
  padding: 0 50px;
  cursor: pointer;
}

/* CONTENT_DETAIL_CARDS */

.content_detail_show {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 30px auto;
}

.detail-photo {
  display: block;
  box-shadow: 3px 3px 20px 1px rgba(200, 200, 200, .75);
}
.detail-show {
  display: flex;
  flex-direction: row;
}

.detail_text {
  margin-left: 10px;
  line-height: 21px;
}

.detail_text h1 {
  margin: 0 0 20px 0px;
}

.detail_body {
  margin-top: 20px;
}

.detail_body p {
  font-weight: 300;
  border-top: 1px solid black;
  padding-top: 10px;
  text-align: justify;
}
/* CONTENT_CARDS */

.tv-shows {
  width: 70%;
  margin: 0 auto;
}

.tv-shows__head {
  margin: 15px 0;
}

.tv-shows__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 185px);
  grid-gap: 1rem;
  justify-content: space-between;
}


.tv-shows__item {
  min-width: 185px;
  margin: 15px 10px 30px;
}


.tv-card {
  position: relative;
  max-width: 185px;
  min-height: 370px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 20px 1px rgba(200, 200, 200, .75);
}

.tv-card__head {
  padding: 15px 15px 0;
  max-height: 80px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 900;
}


.tv-card__vote {
  position: absolute;
  top: 18px;
  left: 0px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF637D;
  height: 25px;
  width: 44px;
  display: inline-block;
  line-height: 25px;
  font-weight: 900;
}

.tv-card__img {
  height: 278px;
  width: 185px;
}

/* ABOUT */

.content_about {
  width: 70%;
  margin: 30px auto;
}

.about_header {
  font-weight: 900;
  font-size: 40px;
}